# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../AdvancedPython\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\hopfn\PycharmProjects\AdvancedPython\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
